body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.header {
    background-color: #164e05;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

img.logo {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.button, .button1 {
    display: inline-block;
    padding: 20px 40px;
    font-size: 16px;
    border-radius: 8px;
    position: relative; /* Ajuste a posição para dispositivos menores */
    top: 10px; /* Ajuste conforme necessário */
    right: 10px; /* Ajuste conforme necessário */
    text-shadow: rgba(0, 0, 0, 0.856) 2px 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.575) 2px 2px 5px;
}

.button {
    background-color: #01b6ad;
    color: white;
}

.button:hover {
    background-color: #009191;
}

.button1 {
    background-color: #028b14;
    color: white;
}

.button1:hover {
    background-color: #01580f;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: rgba(37, 37, 37, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

img.image-right, img.image-left {
    width: 100%;
    height: auto;
}

p {
    font-size: 1em;
    line-height: 1.4;
    margin: 10px 0;
    text-indent: 20px;
}

blockquote {
    border-left: 5px solid #00bcd4;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .button, .button1 {
        position: static; /* Muda a posição dos botões */
        margin: 10px auto;
        display: block;
        text-align: center;
    }

    .content {
        padding: 10px;
    }

    img.image-right, img.image-left {
        margin: 10px 0;
    }
}
